<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://unpkg.com/htmx.org@1.9.12"
    integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
    crossorigin="anonymous"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Go HTML Template Example</title>
</head>

<body>
  <div class="flex min-h-screen flex-col gap-7 bg-gray-100">
    <header class="bg-black p-4 text-white">
      <h1 class="m-a text-xl font-bold">GoDance</h1>
    </header>
    <main class="mx-auto flex max-w-screen-xl flex-col gap-4">
      {{template "danceCard.html" . }}
    </main>
  </div>
</body>

</html>
